
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 20px; */
    background-color: blanchedalmond;
}


#name {
    font-weight: 500;
    text-align : center;
    font-size : 50px;
    text-shadow: 2px 2px 4px #c33939;
    transition: transform 0.4s ease;
}

#name:hover {
    transform: scale(1.3);
}

.header{
    /* color: white; */
    /* font-size: 30px; */
    justify-content: flex-start;
    display : flex;
    /* flex-direction: row; */
    background-color: black;
    border-radius: 20px;
    align-items: center;
    height: 80px;
    
    /* width : 2000px; */
    
}

.header-item{
    /* margin-left: 5px; */
    align-content: center;
    /* justify-content: flex-start; */
    /* padding: 80px; */
    margin-right: 30px;
    color: rgb(224, 216, 216);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s ease;

}

.header-item:hover {
    background-color: #948d8b;
    color: rgb(24, 23, 23);
}

#image {
    justify-content: center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#image img{
    margin-top: 5px;
    justify-content: center;
    width: 190px;
    height: 270px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    object-fit: cover;
    border: 2px solid black;
    box-shadow: 5px 5px 20px #9f3619;
    transition: transform 0.4s ease;
}
#image img:hover {
    transform: scale(1.05);   
}

#summary {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 15px #c33939;
}


.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    font-style: oblique;
}

.label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #c33939;
}
